# Purpose

Students have the option of using Pandas and SQL to complete this project. A Phase 1 project done completely in pandas, completely in SQL, or a mixture of the two can all be considered a fine Phase 1 project. This notebook serves as a resource for setting up an SQL database for students who wish to use SQL in their Phase 1 project.

**To create the `movies.db` database, run the code cells below.**
> The Entity Relational Diagram is below

In [1]:
from src.make_db import create_movies_db

In [2]:
create_movies_db()

imdb_title_principals table created successfully....
imdb_name_basic table created successfully....
imdb_title_crew table created successfully....
imdb_title_ratings table created successfully....
imdb_title_basics table created successfully....
imdb_title_akas table created successfully....
tn_movie_budgets table created successfully....
tmdb_movies table created successfully....
bom_movie_gross table created successfully....
rotten_tomatoes_critic_reviews table created successfully....
rotten_tomatoes_movies table created successfully....
=========================================================
Inserting data into the imdb_title_crew table....
Inserting data into the tmdb_movies table....
Inserting data into the imdb_title_akas table....
Inserting data into the imdb_title_ratings table....
Inserting data into the imdb_name_basics table....
Inserting data into the rotten_tomatoes_movies table....
Inserting data into the rotten_tomatoes_critic_reviews table....
Inserting data into the imdb_title_basics table....
Inserting data into the tn_movie_budgets table....
Inserting data into the bom_movie_gross table....
Inserting data into the imdb_title_principals table....
=========================================================
Database created successfully!
To connect to the database: open a connection using the path "data/movies.db"

![movies.db schema](images/movies_db_schema.png)

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("data/movies.db")

In [2]:
pd.read_sql("""
SELECT *
FROM tn_movie_budgets
""", conn)

,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...,...
5777,5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [3]:
df = pd.read_sql("""
SELECT *
FROM tn_movie_budgets
""", conn)
df.head()

,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [4]:
df["production_budget"] = df["production_budget"].apply(lambda x: int(x.replace("$", "").replace(",", "")))
df["domestic_gross"] = df["domestic_gross"].apply(lambda x: int(x.replace("$", "").replace(",", "")))
df["worldwide_gross"] = df["worldwide_gross"].apply(lambda x: int(x.replace("$", "").replace(",", "")))
df

,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...,...,...
5777,5777,78,"Dec 31, 2018",Red 11,7000,0,0
5778,5778,79,"Apr 2, 1999",Following,6000,48482,240495
5779,5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338
5780,5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,0,0
5781,5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idx                5782 non-null   int64
 1   id                 5782 non-null   int64
 2   release_date       5782 non-null   object
 3   movie              5782 non-null   object
 4   production_budget  5782 non-null   int64
 5   domestic_gross     5782 non-null   int64
 6   worldwide_gross    5782 non-null   int64
dtypes: int64(5), object(2)
memory usage: 316.3+ KB

In [6]:
df["domestic_profit"] = df["domestic_gross"] - df["production_budget"]
df["worldwide_profit"] = df["worldwide_gross"] - df["production_budget"]
df.head()

,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit
0,0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,335507625,2351345279
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-169536125,635063875
2,2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-307237650,-200237650
3,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,128405868,1072413963
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,303181382,999721747

In [7]:
df.to_sql("tn_movie_budgets_better", conn)

ValueError: Table 'tn_movie_budgets_better' already exists.

In [ ]:
pd.read_sql("""
SELECT *
FROM tn_movie_budgets_better
""", conn)

In [8]:
pd.read_sql("""
SELECT *
FROM tn_movie_budgets_better
ORDER BY worldwide_profit DESC
""", conn)

,index,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit
0,0,0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,335507625,2351345279
1,42,42,43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,459363944,2008208395
2,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
3,5,5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,630662225,1747311220
4,33,33,34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,437270625,1433854864
...,...,...,...,...,...,...,...,...,...,...
5777,352,352,53,"Apr 27, 2001",Town & Country,105000000,6712451,10364769,-98287549,-94635231
5778,341,341,42,"Jun 14, 2019",Men in Black: International,110000000,3100000,3100000,-106900000,-106900000
5779,193,193,94,"Mar 11, 2011",Mars Needs Moms,150000000,21392758,39549758,-128607242,-110450242
5780,194,194,95,"Dec 31, 2020",Moonfall,150000000,0,0,-150000000,-150000000
5781,2,2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-307237650,-200237650

In [9]:
pd.read_sql("""
SELECT DISTINCT movie, worldwide_profit, genres, runtime_minutes
FROM tn_movie_budgets_better
INNER JOIN imdb_title_basics
    ON tn_movie_budgets_better.movie = imdb_title_basics.primary_title
ORDER BY worldwide_profit
""", conn)

,movie,worldwide_profit,genres,runtime_minutes
0,Dark Phoenix,-200237650,"Action,Adventure,Sci-Fi",113.0
1,Mars Needs Moms,-110450242,"Adventure,Animation,Family",88.0
2,Men in Black: International,-106900000,"Action,Adventure,Comedy",115.0
3,Bright,-90000000,"Action,Crime,Fantasy",117.0
4,Call of the Wild,-82000000,"Adventure,Animation,Family",NaN
...,...,...,...,...
3777,Jurassic World,1433854864,"Action,Adventure,Sci-Fi",124.0
3778,Avengers: Infinity War,1748134200,"Action,Adventure,Sci-Fi",149.0
3779,Titanic,2008208395,Adventure,NaN
3780,Titanic,2008208395,Family,115.0
3781,Avatar,2351345279,Horror,93.0

In [10]:
df = pd.read_sql("""
SELECT *
FROM imdb_title_basics
""", conn).dropna(subset = ['original_title'])
df

,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...
146139,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [11]:
pd.read_sql("""
SELECT *
FROM imdb_title_basics
WHERE primary_title = 'Ângelo de Sousa - Tudo o Que Sou Capaz'
""", conn)

,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,66989,tt3815122,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"
1,66990,tt3815124,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"
2,66991,tt3815126,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"
3,66992,tt3815128,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"
4,66993,tt3815130,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"
5,66994,tt3815132,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"
6,66995,tt3815134,Ângelo de Sousa - Tudo o Que Sou Capaz,Ângelo de Sousa - Tudo o Que Sou Capaz,2010,60.0,"Biography,Documentary"

In [12]:
df = df.set_index(df["idx"])
df

,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
idx,,,,,,,
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...
146139,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [13]:
df = df.drop(columns = ["idx", "tconst", "original_title"])
df

,primary_title,start_year,runtime_minutes,genres
idx,,,,
0,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,The Other Side of the Wind,2018,122.0,Drama
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...
146139,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,Dankyavar Danka,2013,NaN,Comedy
146142,6 Gunn,2017,116.0,None
146143,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [14]:
df.drop_duplicates()

,primary_title,start_year,runtime_minutes,genres
idx,,,,
0,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,The Other Side of the Wind,2018,122.0,Drama
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...
146139,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,Dankyavar Danka,2013,NaN,Comedy
146142,6 Gunn,2017,116.0,None
146143,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [15]:
df["genres"] = df["genres"].apply(lambda x: x.split(",") if type(x) == str else x)
df

,primary_title,start_year,runtime_minutes,genres
idx,,,,
0,Sunghursh,2013,175.0,"[Action, Crime, Drama]"
1,One Day Before the Rainy Season,2019,114.0,"[Biography, Drama]"
2,The Other Side of the Wind,2018,122.0,[Drama]
3,Sabse Bada Sukh,2018,NaN,"[Comedy, Drama]"
4,The Wandering Soap Opera,2017,80.0,"[Comedy, Drama, Fantasy]"
...,...,...,...,...
146139,Kuambil Lagi Hatiku,2019,123.0,[Drama]
146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,[Documentary]
146141,Dankyavar Danka,2013,NaN,[Comedy]
146142,6 Gunn,2017,116.0,None
146143,Chico Albuquerque - Revelações,2013,NaN,[Documentary]

In [16]:
df = df.explode('genres')

In [17]:
df.isna().sum()

primary_title          0
start_year             0
runtime_minutes    39037
genres              5389
dtype: int64

In [18]:
df = df.dropna(subset = ["genres"])

In [19]:
df.to_sql("imdb_title_basics_better", conn)

ValueError: Table 'imdb_title_basics_better' already exists.

In [20]:
pd.read_sql("""
SELECT *
FROM imdb_title_basics_better
""", conn)

,idx,primary_title,start_year,runtime_minutes,genres
0,0,Sunghursh,2013,175.0,Action
1,0,Sunghursh,2013,175.0,Crime
2,0,Sunghursh,2013,175.0,Drama
3,1,One Day Before the Rainy Season,2019,114.0,Biography
4,1,One Day Before the Rainy Season,2019,114.0,Drama
...,...,...,...,...,...
229543,146138,The Secret of China,2019,NaN,War
229544,146139,Kuambil Lagi Hatiku,2019,123.0,Drama
229545,146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
229546,146141,Dankyavar Danka,2013,NaN,Comedy
229547,146143,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [21]:
df = pd.read_sql("""
SELECT *
FROM tmdb_movies
ORDER BY popularity DESC
""", conn)

In [22]:
df.head()

,idx,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
1,11019,"[28, 53]",245891,en,John Wick,78.123,2014-10-24,John Wick,7.2,10081
2,23812,"[28, 12, 16, 878, 35]",324857,en,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
3,11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
4,5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673

In [23]:
df = df.drop(columns = ["genre_ids", "original_language", "id"])
df.head()

,idx,original_title,popularity,release_date,title,vote_average,vote_count
0,23811,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
1,11019,John Wick,78.123,2014-10-24,John Wick,7.2,10081
2,23812,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
3,11020,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
4,5179,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673

In [24]:
df = df.set_index("idx")
df.head()

,original_title,popularity,release_date,title,vote_average,vote_count
idx,,,,,,
23811,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673

In [25]:
df = df.drop(columns = ["original_title"])
df.head()

,popularity,release_date,title,vote_average,vote_count
idx,,,,,
23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,78.123,2014-10-24,John Wick,7.2,10081
23812,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,50.289,2012-05-04,The Avengers,7.6,19673

In [27]:
df.to_sql("tmdb_movies_better", conn)

In [72]:
pd.read_sql("""
SELECT *
FROM tmdb_movies_better
JOIN imdb_title_basics_better
    ON tmdb_movies_better.title = imdb_title_basics_better.primary_title
JOIN tn_movie_budgets_better
    ON imdb_title_basics_better.primary_title = tn_movie_budgets_better.movie
""", conn)

,idx,popularity,release_date,title,vote_average,vote_count,idx,primary_title,start_year,runtime_minutes,...,index,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit
0,23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,72820,Avengers: Infinity War,2018,149.0,...,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
1,23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,72820,Avengers: Infinity War,2018,149.0,...,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
2,23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,72820,Avengers: Infinity War,2018,149.0,...,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
3,11019,78.123,2014-10-24,John Wick,7.2,10081,48901,John Wick,2014,101.0,...,1905,1905,6,"Oct 24, 2014",John Wick,30000000,43037835,76235001,13037835,46235001
4,11019,78.123,2014-10-24,John Wick,7.2,10081,48901,John Wick,2014,101.0,...,1905,1905,6,"Oct 24, 2014",John Wick,30000000,43037835,76235001,13037835,46235001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9280,26506,0.600,2018-11-25,Eden,0.0,1,52109,Eden,2014,131.0,...,4865,4865,66,"Jan 19, 2016",Eden,2300000,0,0,-2300000,-2300000
9281,26506,0.600,2018-11-25,Eden,0.0,1,102185,Eden,2015,90.0,...,4865,4865,66,"Jan 19, 2016",Eden,2300000,0,0,-2300000,-2300000
9282,26506,0.600,2018-11-25,Eden,0.0,1,124123,Eden,2019,85.0,...,4865,4865,66,"Jan 19, 2016",Eden,2300000,0,0,-2300000,-2300000
9283,26506,0.600,2018-11-25,Eden,0.0,1,124123,Eden,2019,85.0,...,4865,4865,66,"Jan 19, 2016",Eden,2300000,0,0,-2300000,-2300000
9284,26506,0.600,2018-11-25,Eden,0.0,1,141016,Eden,2018,97.0,...,4865,4865,66,"Jan 19, 2016",Eden,2300000,0,0,-2300000,-2300000

In [47]:
df = pd.read_sql("""
SELECT *
FROM tmdb_movies_better
JOIN imdb_title_basics_better
    ON tmdb_movies_better.title = imdb_title_basics_better.primary_title
JOIN tn_movie_budgets_better
    ON imdb_title_basics_better.primary_title = tn_movie_budgets_better.movie
""", conn)
df.head()

,idx,popularity,release_date,title,vote_average,vote_count,idx,primary_title,start_year,runtime_minutes,...,index,idx,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit
0,23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,72820,Avengers: Infinity War,2018,149.0,...,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
1,23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,72820,Avengers: Infinity War,2018,149.0,...,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
2,23811,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,72820,Avengers: Infinity War,2018,149.0,...,6,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
3,11019,78.123,2014-10-24,John Wick,7.2,10081,48901,John Wick,2014,101.0,...,1905,1905,6,"Oct 24, 2014",John Wick,30000000,43037835,76235001,13037835,46235001
4,11019,78.123,2014-10-24,John Wick,7.2,10081,48901,John Wick,2014,101.0,...,1905,1905,6,"Oct 24, 2014",John Wick,30000000,43037835,76235001,13037835,46235001

In [48]:
df = df.drop(columns = ["idx"])
df.head()

,popularity,release_date,title,vote_average,vote_count,primary_title,start_year,runtime_minutes,genres,index,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,worldwide_profit
0,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,Avengers: Infinity War,2018,149.0,Action,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
1,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,Avengers: Infinity War,2018,149.0,Adventure,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
2,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,Avengers: Infinity War,2018,149.0,Sci-Fi,6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200
3,78.123,2014-10-24,John Wick,7.2,10081,John Wick,2014,101.0,Action,1905,6,"Oct 24, 2014",John Wick,30000000,43037835,76235001,13037835,46235001
4,78.123,2014-10-24,John Wick,7.2,10081,John Wick,2014,101.0,Crime,1905,6,"Oct 24, 2014",John Wick,30000000,43037835,76235001,13037835,46235001

In [49]:
df = df.drop(columns = ["id", "movie", "primary_title", "domestic_gross", "worldwide_gross"])
df.head()

,popularity,release_date,title,vote_average,vote_count,start_year,runtime_minutes,genres,index,release_date,production_budget,domestic_profit,worldwide_profit
0,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,2018,149.0,Action,6,"Apr 27, 2018",300000000,378815482,1748134200
1,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,2018,149.0,Adventure,6,"Apr 27, 2018",300000000,378815482,1748134200
2,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,2018,149.0,Sci-Fi,6,"Apr 27, 2018",300000000,378815482,1748134200
3,78.123,2014-10-24,John Wick,7.2,10081,2014,101.0,Action,1905,"Oct 24, 2014",30000000,13037835,46235001
4,78.123,2014-10-24,John Wick,7.2,10081,2014,101.0,Crime,1905,"Oct 24, 2014",30000000,13037835,46235001

In [50]:
df = df.set_index("index")
df.head()

,popularity,release_date,title,vote_average,vote_count,start_year,runtime_minutes,genres,release_date,production_budget,domestic_profit,worldwide_profit
index,,,,,,,,,,,,
6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,2018,149.0,Action,"Apr 27, 2018",300000000,378815482,1748134200
6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,2018,149.0,Adventure,"Apr 27, 2018",300000000,378815482,1748134200
6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,2018,149.0,Sci-Fi,"Apr 27, 2018",300000000,378815482,1748134200
1905,78.123,2014-10-24,John Wick,7.2,10081,2014,101.0,Action,"Oct 24, 2014",30000000,13037835,46235001
1905,78.123,2014-10-24,John Wick,7.2,10081,2014,101.0,Crime,"Oct 24, 2014",30000000,13037835,46235001

In [51]:
df = df.drop(columns = ["start_year"])
df.head()

,popularity,release_date,title,vote_average,vote_count,runtime_minutes,genres,release_date,production_budget,domestic_profit,worldwide_profit
index,,,,,,,,,,,
6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Action,"Apr 27, 2018",300000000,378815482,1748134200
6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Adventure,"Apr 27, 2018",300000000,378815482,1748134200
6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Sci-Fi,"Apr 27, 2018",300000000,378815482,1748134200
1905,78.123,2014-10-24,John Wick,7.2,10081,101.0,Action,"Oct 24, 2014",30000000,13037835,46235001
1905,78.123,2014-10-24,John Wick,7.2,10081,101.0,Crime,"Oct 24, 2014",30000000,13037835,46235001

In [53]:
df = df.loc[:,~df.columns.duplicated()]

In [64]:
df.groupby("genres").mean().sort_values("worldwide_profit", ascending = False)

,popularity,vote_average,vote_count,runtime_minutes,production_budget,domestic_profit,worldwide_profit
genres,,,,,,,
Musical,12.798750,6.461364,2860.750000,107.071429,5.515227e+07,1.249665e+08,3.545777e+08
Animation,10.666538,6.232487,1990.827411,86.314917,7.489036e+07,3.006335e+07,2.079221e+08
Adventure,15.095244,6.225709,3190.187146,106.847036,8.929938e+07,1.578373e+07,2.027105e+08
Fantasy,13.945504,6.035776,2723.922414,107.108597,6.616228e+07,3.645865e+07,1.995040e+08
Sci-Fi,13.994959,6.111934,3376.189300,107.805085,6.469962e+07,2.295649e+07,1.661442e+08
Family,7.988199,6.110487,1319.644195,77.508197,4.898262e+07,2.753953e+07,1.312157e+08
Action,12.811314,5.985071,2322.689833,110.208623,6.400635e+07,4.560930e+06,1.185844e+08
Comedy,9.517845,6.132127,1275.934389,101.196240,3.394811e+07,1.539164e+07,7.677683e+07
Sport,6.454722,6.357732,877.680412,98.031579,2.169330e+07,2.491810e+07,7.418950e+07
History,7.682735,6.382119,1035.549669,88.201550,4.147828e+07,4.357772e+06,6.083325e+07
Romance,7.358341,6.332294,979.494432,100.141553,2.270971e+07,1.412552e+07,5.826953e+07
Documentary,4.741006,6.055334,607.342817,54.187595,3.098040e+07,7.474641e+06,5.641486e+07
Thriller,7.963337,5.918982,1055.013755,99.412698,2.834934e+07,4.334510e+06,5.307422e+07
Music,8.052589,6.424211,988.810526,104.380435,1.555284e+07,1.421993e+07,5.172906e+07
Biography,8.716848,6.489634,1185.067073,93.817073,2.821895e+07,8.878882e+06,5.131182e+07
Mystery,8.935328,6.052453,1401.226415,101.541176,2.231409e+07,9.153660e+06,4.847448e+07
Horror,7.702130,5.698798,1009.028056,94.985106,2.094521e+07,9.195112e+06,4.792026e+07
Drama,7.318953,6.275980,958.331551,102.716164,2.590494e+07,5.843143e+06,4.438672e+07
Crime,9.799904,6.090359,1226.152466,107.122685,2.733493e+07,2.816114e+06,3.848789e+07
War,4.409105,6.122368,450.671053,107.090909,2.838816e+07,-1.409708e+06,3.603709e+07
News,9.405200,6.140000,1199.200000,73.200000,2.056000e+07,-8.008651e+06,2.357433e+07
Western,7.164920,5.916000,1187.720000,104.411765,3.547200e+07,-1.093488e+07,1.466710e+07
Reality-TV,6.397000,6.400000,1074.000000,80.000000,1.000000e+06,-1.000000e+06,-1.000000e+06

ValueError: ('Lengths must match to compare', (9285,), (1,))

In [55]:
df.to_sql("general_movie_stats", conn)

In [75]:
pd.read_sql("""
SELECT *
FROM general_movie_stats
ORDER BY popularity DESC
""", conn)

,index,popularity,release_date,title,vote_average,vote_count,runtime_minutes,genres,production_budget,domestic_profit,worldwide_profit
0,6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Action,300000000,378815482,1748134200
1,6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Adventure,300000000,378815482,1748134200
2,6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Sci-Fi,300000000,378815482,1748134200
3,1905,78.123,2014-10-24,John Wick,7.2,10081,101.0,Action,30000000,13037835,46235001
4,1905,78.123,2014-10-24,John Wick,7.2,10081,101.0,Crime,30000000,13037835,46235001
...,...,...,...,...,...,...,...,...,...,...,...
9280,4865,0.600,2018-11-25,Eden,0.0,1,131.0,Music,2300000,-2300000,-2300000
9281,4865,0.600,2018-11-25,Eden,0.0,1,90.0,Animation,2300000,-2300000,-2300000
9282,4865,0.600,2018-11-25,Eden,0.0,1,85.0,Crime,2300000,-2300000,-2300000
9283,4865,0.600,2018-11-25,Eden,0.0,1,85.0,Drama,2300000,-2300000,-2300000
9284,4865,0.600,2018-11-25,Eden,0.0,1,97.0,Drama,2300000,-2300000,-2300000

In [76]:
pd.read_sql("""
SELECT *
FROM general_movie_stats
WHERE genres = 'Action'
ORDER BY worldwide_profit DESC
""", conn)

,index,popularity,release_date,title,vote_average,vote_count,runtime_minutes,genres,production_budget,domestic_profit,worldwide_profit
0,6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Action,300000000,378815482,1748134200
1,33,20.709,2015-06-12,Jurassic World,6.6,14056,124.0,Action,215000000,437270625,1433854864
2,66,20.396,2015-04-03,Furious 7,7.3,6538,137.0,Action,190000000,163007020,1328722794
3,26,50.289,2012-05-04,The Avengers,7.6,19673,143.0,Action,225000000,398279547,1292935897
4,41,44.140,2018-02-16,Black Panther,7.4,12365,134.0,Action,200000000,500059566,1148258224
...,...,...,...,...,...,...,...,...,...,...,...
772,478,7.566,2010-11-24,The Nutcracker in 3D,5.5,97,110.0,Action,90000000,-89804541,-69533984
773,477,10.158,2017-04-21,The Promise,7.1,195,NaN,Action,90000000,-81775712,-79448583
774,477,10.158,2017-04-21,The Promise,7.1,195,NaN,Action,90000000,-81775712,-79448583
775,477,0.600,2013-10-16,The Promise,9.0,1,NaN,Action,90000000,-81775712,-79448583
776,479,15.677,2017-12-22,Bright,6.2,3181,117.0,Action,90000000,-90000000,-90000000

In [77]:
pd.read_sql("""
SELECT *
FROM general_movie_stats
WHERE genres = 'Adventure'
ORDER BY worldwide_profit DESC
""", conn)

,index,popularity,release_date,title,vote_average,vote_count,runtime_minutes,genres,production_budget,domestic_profit,worldwide_profit
0,6,80.773,2018-04-27,Avengers: Infinity War,8.3,13948,149.0,Adventure,300000000,378815482,1748134200
1,33,20.709,2015-06-12,Jurassic World,6.6,14056,124.0,Adventure,215000000,437270625,1433854864
2,26,50.289,2012-05-04,The Avengers,7.6,19673,143.0,Adventure,225000000,398279547,1292935897
3,41,44.140,2018-02-16,Black Panther,7.4,12365,134.0,Adventure,200000000,500059566,1148258224
4,41,2.058,2011-01-18,Black Panther,5.1,11,134.0,Adventure,200000000,500059566,1148258224
...,...,...,...,...,...,...,...,...,...,...,...
524,946,10.362,2017-02-24,Rock Dog,5.7,123,90.0,Adventure,60000000,-50579454,-35851512
525,254,21.377,2013-07-19,R.I.P.D.,5.6,2047,96.0,Adventure,130000000,-96381145,-50923322
526,280,8.827,2017-01-13,Monster Trucks,5.9,414,104.0,Adventure,125000000,-91629834,-63357202
527,820,6.971,2018-10-26,Air Strike,3.9,56,120.0,Adventure,65000000,-65000000,-64483721
528,193,8.852,2011-03-11,Mars Needs Moms,5.7,299,88.0,Adventure,150000000,-128607242,-110450242

In [78]:
pd.read_sql("""
SELECT *
FROM general_movie_stats
WHERE genres = 'Musical'
ORDER BY worldwide_profit DESC
""", conn)

,index,popularity,release_date,title,vote_average,vote_count,runtime_minutes,genres,production_budget,domestic_profit,worldwide_profit
0,134,31.793,2017-03-17,Beauty and the Beast,6.9,11023,129.0,Musical,160000000,344014165,1099199706
1,134,31.793,2017-03-17,Beauty and the Beast,6.9,11023,60.0,Musical,160000000,344014165,1099199706
2,134,26.701,2012-01-13,Beauty and the Beast,7.7,5730,129.0,Musical,160000000,344014165,1099199706
3,134,26.701,2012-01-13,Beauty and the Beast,7.7,5730,60.0,Musical,160000000,344014165,1099199706
4,134,7.363,2014-06-09,Beauty and the Beast,5.9,1272,129.0,Musical,160000000,344014165,1099199706
5,134,7.363,2014-06-09,Beauty and the Beast,5.9,1272,60.0,Musical,160000000,344014165,1099199706
6,50,22.020,2010-03-05,Alice in Wonderland,6.6,8713,99.0,Musical,200000000,134191110,825491110
7,50,0.600,2010-01-01,Alice in Wonderland,6.0,1,99.0,Musical,200000000,134191110,825491110
8,2485,31.793,2017-03-17,Beauty and the Beast,6.9,11023,129.0,Musical,20000000,356057266,588431132
9,2485,31.793,2017-03-17,Beauty and the Beast,6.9,11023,60.0,Musical,20000000,356057266,588431132
10,2485,26.701,2012-01-13,Beauty and the Beast,7.7,5730,129.0,Musical,20000000,356057266,588431132
11,2485,26.701,2012-01-13,Beauty and the Beast,7.7,5730,60.0,Musical,20000000,356057266,588431132
12,2485,7.363,2014-06-09,Beauty and the Beast,5.9,1272,129.0,Musical,20000000,356057266,588431132
13,2485,7.363,2014-06-09,Beauty and the Beast,5.9,1272,60.0,Musical,20000000,356057266,588431132
14,412,29.056,2015-03-13,Cinderella,6.7,4517,150.0,Musical,95000000,106151353,439551353
15,412,29.056,2015-03-13,Cinderella,6.7,4517,130.0,Musical,95000000,106151353,439551353
16,412,0.955,2012-06-06,Cinderella,4.6,8,150.0,Musical,95000000,106151353,439551353
17,412,0.955,2012-06-06,Cinderella,4.6,8,130.0,Musical,95000000,106151353,439551353
18,524,22.009,2017-12-20,The Greatest Showman,8.0,5197,105.0,Musical,84000000,90340174,302665550
19,524,22.009,2017-12-20,The Greatest Showman,8.0,5197,105.0,Musical,84000000,90340174,302665550
20,4775,29.056,2015-03-13,Cinderella,6.7,4517,150.0,Musical,2900000,82100000,260691415
21,4775,29.056,2015-03-13,Cinderella,6.7,4517,130.0,Musical,2900000,82100000,260691415
22,4775,0.955,2012-06-06,Cinderella,4.6,8,150.0,Musical,2900000,82100000,260691415
23,4775,0.955,2012-06-06,Cinderella,4.6,8,130.0,Musical,2900000,82100000,260691415
24,976,13.726,2014-12-25,Into the Woods,5.7,2880,NaN,Musical,56200000,71802372,156916401
25,788,13.422,2014-12-19,Annie,6.1,770,NaN,Musical,65000000,20911262,74829625
26,3478,12.083,2015-11-04,Brooklyn,7.3,1912,83.0,Musical,11000000,27322743,51076141
27,3478,0.916,2017-08-05,Brooklyn,6.0,1,83.0,Musical,11000000,27322743,51076141
28,1023,8.676,2010-11-23,Burlesque,7.1,1195,119.0,Musical,55000000,-15559345,35552675
29,4196,0.600,2014-11-24,Emma,10.0,1,119.0,Musical,5900000,16331658,31931658
30,4196,0.600,2016-06-07,Emma,6.0,1,119.0,Musical,5900000,16331658,31931658
31,4196,0.600,2017-09-29,Emma,6.0,2,119.0,Musical,5900000,16331658,31931658
32,2582,2.733,2017-02-07,The Covenant,4.4,14,99.0,Musical,20000000,3364784,18164784
33,5486,3.058,2016-03-29,Alleluia! The Devil's Carnival,7.0,9,97.0,Musical,500000,-500000,-500000
34,4878,5.877,2011-04-23,Bully,7.2,93,58.0,Musical,2100000,-1218176,-718176
35,4950,5.079,2015-02-13,The Last Five Years,5.9,230,94.0,Musical,2000000,-1852701,-1794702
36,4973,2.971,2013-04-26,The Ghastly Love of Johnny X,6.5,9,106.0,Musical,2000000,-1997564,-1997564
37,4759,22.020,2010-03-05,Alice in Wonderland,6.6,8713,99.0,Musical,3000000,-3000000,-3000000
38,4759,0.600,2010-01-01,Alice in Wonderland,6.0,1,99.0,Musical,3000000,-3000000,-3000000
39,4375,1.282,2013-02-23,Stuck,5.6,4,90.0,Musical,5000000,-4932495,-4932495
40,4375,0.600,2015-04-25,Stuck,8.0,1,90.0,Musical,5000000,-4932495,-4932495
41,4210,1.224,2010-07-16,Standing Ovation,4.3,12,105.0,Musical,5600000,-5068194,-5068194
42,728,11.369,2012-06-15,Rock of Ages,6.1,686,123.0,Musical,70000000,-31481387,-8968068
43,1064,5.599,2011-08-17,Beloved,6.7,31,133.0,Musical,53000000,-30147513,-30147513