# Purpose

Students have the option of using Pandas and SQL to complete this project. A Phase 1 project done completely in pandas, completely in SQL, or a mixture of the two can all be considered a fine Phase 1 project. This notebook serves as a resource for setting up an SQL database for students who wish to use SQL in their Phase 1 project.

**To create the `movies.db` database, run the code cells below.**
> The Entity Relational Diagram is below

In [2]:
from src.make_db import create_movies_db

In [3]:
create_movies_db()

imdb_title_principals table created successfully....
imdb_name_basic table created successfully....
imdb_title_crew table created successfully....
imdb_title_ratings table created successfully....
imdb_title_basics table created successfully....
imdb_title_akas table created successfully....
tn_movie_budgets table created successfully....
tmdb_movies table created successfully....
bom_movie_gross table created successfully....
rotten_tomatoes_critic_reviews table created successfully....
rotten_tomatoes_movies table created successfully....
=========================================================
Inserting data into the imdb_title_crew table....
Inserting data into the tmdb_movies table....
Inserting data into the imdb_title_akas table....
Inserting data into the imdb_title_ratings table....
Inserting data into the imdb_name_basics table....
Inserting data into the rotten_tomatoes_movies table....
Inserting data into the rotten_tomatoes_critic_reviews table....
Inserting data into the imdb_title_basics table....
Inserting data into the tn_movie_budgets table....
Inserting data into the bom_movie_gross table....
Inserting data into the imdb_title_principals table....
=========================================================
Database created successfully!
To connect to the database: open a connection using the path "data\movies.db"

![movies.db schema](images/movies_db_schema.png)

In [4]:
import pandas as pd
import json
import sqlite3
import matplotlib.pyplot as plt

In [5]:
conn = sqlite3.connect('data\movies.db')
df_rotten_movies = pd.read_sql('''
SELECT *
FROM rotten_tomatoes_movies
''', conn)

In [7]:
df_rotten_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   idx                               17712 non-null  int64
 1   rotten_tomatoes_link              17712 non-null  object
 2   movie_title                       17712 non-null  object
 3   movie_info                        17391 non-null  object
 4   critics_consensus                 9134 non-null   object
 5   content_rating                    17712 non-null  object
 6   genres                            17693 non-null  object
 7   directors                         17518 non-null  object
 8   authors                           16170 non-null  object
 9   actors                            17360 non-null  object
 10  original_release_date             16546 non-null  object
 11  streaming_release_date            17328 non-null  object
 12  runtime                           17398 non-null  float64
 13  production_company                17213 non-null  object
 14  tomatometer_status                17668 non-null  object
 15  tomatometer_rating                17668 non-null  float64
 16  tomatometer_count                 17668 non-null  float64
 17  audience_status                   17264 non-null  object
 18  audience_rating                   17416 non-null  float64
 19  audience_count                    17415 non-null  float64
 20  tomatometer_top_critics_count     17712 non-null  int64
 21  tomatometer_fresh_critics_count   17712 non-null  int64
 22  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(4), object(14)
memory usage: 3.1+ MB

In [6]:
df_rotten_movies.head()

,idx,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3