# Pulling Budget information from Jerry's code.

## Attempting to use merging code to make budget graphs from my Rotten Tomatoes data

In [2]:
import pandas as pd
import json
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
conn = sqlite3.connect("Prebuilt_stuff/data/movies.db")

### Importing Jerry's code

In [3]:
budget_main = pd.read_csv("Prebuilt_stuff/data/budget_main.csv")

In [5]:
budget_main.drop(columns='Unnamed: 0', inplace=True)

In [13]:
budget_main["title"] = budget_main["title"].str.lower().str.replace('[^a-zA-Z0-9]', '_').copy()
clean_budget_main = budget_main.drop_duplicates("title")

Importing my previous work into this folder for merging

In [20]:
clean_title = pd.read_csv("Prebuilt_stuff/data/rotten_tomatoes_clean_titles.csv")

In [24]:
clean_title = clean_title.loc[clean_title['where'].apply(lambda x: x == "both")].copy()

In [30]:
clean_title.columns

Index(['Unnamed: 0', 'title', 'production_company', 'audience_status',
       'audience_rating', 'audience_count', 'clean_titles', 'where'],
      dtype='object')

In [31]:
clean_title.drop(columns=['Unnamed: 0','where','clean_titles'], inplace=True)

In [32]:
clean_title

,title,production_company,audience_status,audience_rating,audience_count
2,iron_man_2,Paramount Studios,Upright,71.0,480879.0
3,toy_story,Buena Vista,Upright,92.0,1109209.0
4,inception,Warner Bros. Pictures,Upright,91.0,571078.0
5,percy_jackson___the_olympians__the_lightning_t...,20th Century Fox,Spilled,53.0,254421.0
6,avatar,20th Century Fox,Upright,82.0,1382566.0
...,...,...,...,...,...
24760,the_bubble,Strand Releasing,Upright,84.0,4672.0
24812,time_for_ilhan,Gooddocs,Spilled,42.0,61.0
24817,undiscovered,Lions Gate Films,Spilled,48.0,9311.0
24905,hari_kondabolu__warn_your_relatives,Netflix,Spilled,53.0,21.0
24975,jaws,Universal Pictures,Upright,90.0,944601.0

In [33]:
rotten_budget_df = clean_budget_main.merge(clean_title, on=["title"], how="inner").copy()

In [36]:
rotten_budget_df

,popularity,title,vote_average,vote_count,vote_total,runtime_minutes,genre,production_budget,domestic_profit,worldwide_profit,release_date,production_company,audience_status,audience_rating,audience_count
0,28.515,iron_man_2,6.8,12368,84102.4,124.0,Action,170000000,142433331,451156389,2010-05-07,Paramount Studios,Upright,71.0,480879.0
1,27.920,inception,8.3,22186,184143.8,148.0,Action,160000000,132576195,675524642,2010-07-16,Warner Bros. Pictures,Upright,91.0,571078.0
2,26.691,percy_jackson___the_olympians__the_lightning_t...,6.1,4229,25796.9,118.0,Adventure,95000000,-6231697,128050874,2010-02-11,20th Century Fox,Spilled,53.0,254421.0
3,26.526,avatar,7.4,18676,138202.4,93.0,Horror,425000000,335507625,2351345279,2009-12-18,20th Century Fox,Upright,82.0,1382566.0
4,24.445,toy_story_3,7.7,8340,64218.0,103.0,Adventure,200000000,215004880,868879522,2010-06-17,Walt Disney Pictures,Upright,89.0,607537.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,1.836,bad_company,10.0,1,10.0,87.0,Thriller,70000000,-39842984,-842984,2018-08-14,Buena Vista Pictures,Spilled,31.0,5713.0
1595,1.836,bad_company,10.0,1,10.0,87.0,Thriller,70000000,-39842984,-842984,2018-08-14,Touchstone Pictures,Spilled,35.0,56694.0
1596,1.400,molly,5.8,5,29.0,91.0,Action,21000000,-20982604,-20982604,2018-09-25,MGM Home Entertainment,Spilled,53.0,2101.0
1597,0.840,the_box,8.0,1,8.0,89.0,Drama,25000000,-9948023,9356760,2018-03-04,Warner Bros. Pictures,Spilled,24.0,359098.0
1598,0.719,enough,8.7,3,26.1,96.0,Drama,38000000,1177215,12970660,2018-03-22,Sony Pictures,Upright,67.0,123434.0

In [40]:
# Attempt to make sense out of the mixed dataframe, possibly a different graph, scatter plot or line plot might work out.
# main_plot = sns.lmplot(data = rotten_budget_df, x = "audience_count", y1 = "worldwide_profit", y2 = 'audience_rating', legend = True, markers=".", line_kws={'color': 'red'})

TypeError: lmplot() got an unexpected keyword argument 'y1'