# Pulling Budget information from Jerry's code.

## Attempting to use merging code to make budget graphs from my Rotten Tomatoes data

In [4]:
import pandas as pd
import json
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
conn = sqlite3.connect("Prebuilt_stuff/data/movies.db")

### Importing Jerry's code

In [3]:
dfgenres = pd.read_sql("""
SELECT *,
vote_average*vote_count AS total_votes
FROM general_movie_stats
WHERE vote_count > 100 AND domestic_gross > 0 AND worldwide_gross > 0
ORDER BY popularity DESC
""", conn).drop_duplicates()
# changing the lambda function so the merge will match
# from .replace(" ", "_").replace(":", "").replace(",", "").replace("-", "").replace("'", "").lower()
# to .str.lower().str.replace('[^a-zA-Z0-9]', '_'
dfgenres["title"] = dfgenres["title"].map(lambda x: x.str.lower().str.replace('[^a-zA-Z0-9]', '_'))
dfgenres

DatabaseError: Execution failed on sql '
SELECT *,
vote_average*vote_count AS total_votes
FROM general_movie_stats
WHERE vote_count > 100 AND domestic_gross > 0 AND worldwide_gross > 0
ORDER BY popularity DESC
': no such table: general_movie_stats

In [11]:
clean_title = pd.read_csv("Prebuilt_stuff/data/rotten_tomatoes_clean_titles.csv")

In [12]:
clean_title.columns

Index(['Unnamed: 0', 'title', 'production_company', 'audience_status',
       'audience_rating', 'audience_count', 'clean_titles', 'where'],
      dtype='object')

In [13]:
clean_title.drop(columns='Unnamed: 0')

,title,production_company,audience_status,audience_rating,audience_count,clean_titles,where
0,harry_potter_and_the_deathly_hallows__part_1,NaN,NaN,NaN,NaN,NaN,left_only
1,how_to_train_your_dragon,NaN,NaN,NaN,NaN,NaN,left_only
2,iron_man_2,Paramount Studios,Upright,71.0,480879.0,iron_man_2,both
3,toy_story,Buena Vista,Upright,92.0,1109209.0,toy_story,both
4,inception,Warner Bros. Pictures,Upright,91.0,571078.0,inception,both
...,...,...,...,...,...,...,...
35879,zoolander,Paramount Pictures,Upright,80.0,944800.0,zoolander,right_only
35880,zoot_suit,MCA Universal Home Video,Upright,74.0,1195.0,zoot_suit,right_only
35881,zorba_the_greek,Fox,Upright,86.0,7146.0,zorba_the_greek,right_only
35882,zulu,Paramount Pictures,Upright,91.0,30193.0,zulu,right_only
35883,zulu_dawn,Tango Entertainment,Upright,62.0,4469.0,zulu_dawn,right_only