# Pulling Budget information from Jerry's code.

## Attempting to use merging code to make budget graphs from my Rotten Tomatoes data

In [1]:
import pandas as pd
import json
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
conn = sqlite3.connect("Prebuilt_stuff/data/movies.db")

### Importing Jerry's code

In [11]:
budget_main = pd.read_csv("Prebuilt_stuff/data/main_data_compilation.csv")

In [12]:
budget_main.drop(columns='Unnamed: 0', inplace=True)

In [13]:
budget_main

,popularity,title,vote_average,vote_count,vote_total,runtime_minutes,genre,production_budget,worldwide_gross,worldwide_profit,release_date,percent_returns
0,28.734,How to Train Your Dragon,7.7,7610,58597.0,98.0,Action,165000000,494870992,329870992,2010-03-26,299.921813
1,28.734,How to Train Your Dragon,7.7,7610,58597.0,98.0,Adventure,165000000,494870992,329870992,2010-03-26,299.921813
2,28.734,How to Train Your Dragon,7.7,7610,58597.0,98.0,Animation,165000000,494870992,329870992,2010-03-26,299.921813
3,28.515,Iron Man 2,6.8,12368,84102.4,124.0,Action,170000000,621156389,451156389,2010-05-07,365.386111
4,28.515,Iron Man 2,6.8,12368,84102.4,124.0,Adventure,170000000,621156389,451156389,2010-05-07,365.386111
...,...,...,...,...,...,...,...,...,...,...,...,...
7535,0.600,The Box,6.0,1,6.0,100.0,Drama,25000000,34356760,9356760,2018-03-04,137.427040
7536,0.600,The Box,6.0,1,6.0,100.0,War,25000000,34356760,9356760,2018-03-04,137.427040
7537,0.600,The Box,6.0,1,6.0,56.0,Thriller,25000000,34356760,9356760,2018-03-04,137.427040
7538,0.719,Enough,8.7,3,26.1,96.0,Drama,38000000,50970660,12970660,2018-03-22,134.133316
7539,0.719,Enough,8.7,3,26.1,96.0,History,38000000,50970660,12970660,2018-03-22,134.133316

Importing my previous work into this folder for merging